/* html <= 768px */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  /* wrap */
  #wrap {
    /* header */
    /* main */
  }
  #wrap header .container .logo-area .header-logo {
    height: 38px;
  }
  #wrap header .container ul.gnb li a {
    font-size: 0.9rem;
  }
  #wrap main {
    /* intro */
    /* about */
    /* hobby */
    /* skill */
    /* work */
  }
  #wrap main .intro video {
    height: 100%;
  }
  #wrap main .intro .profile .title-wrap .title {
    font-size: 2.4rem;
  }
  #wrap main .intro .profile .comment {
    font-size: 1.4rem;
  }
  #wrap main .about .container .title-wrap .title {
    font-size: 2rem;
  }
  #wrap main .about .container .about-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrap main .about .container .about-box .sik-comment {
    margin-bottom: 40px;
  }
  #wrap main .about .container .about-box .sik-comment p {
    font-size: 1rem;
  }
  #wrap main .about .container .about-box .sik-info {
    order: -1;
    margin-bottom: 40px;
  }
  #wrap main .about.scrolled .container .about-box .sik-comment {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.4s;
  }
  #wrap main .about.scrolled .container .about-box .sik-info {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0s;
  }
  #wrap main .about.scrolled .container .about-box .education-license {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.8s;
  }
  #wrap main .hobby {
    padding: 160px 0 0 0;
  }
  #wrap main .hobby .container .title-wrap {
    margin-bottom: 60px;
  }
  #wrap main .hobby .container .title-wrap .title {
    font-size: 2rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap {
    flex-direction: column;
    align-items: center;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li {
    height: 224px;
    width: 100%;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .img-box img {
    width: 240px;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box {
    width: 260px;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0px;
    transform: translateX(300px);
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box .num {
    font-size: 1.4rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box .txt {
    font-size: 0.9rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:nth-child(even) .txt-box {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:nth-child(4) {
    margin-bottom: 0;
  }
  #wrap main .hobby .container .hobby-box .bg-wrap {
    flex-direction: column;
    top: 130px;
  }
  #wrap main .hobby .container .hobby-box .bg-wrap .circle:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #wrap main .hobby.scrolled .container .hobby-box .char-wrap li .txt-box {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s;
  }
  #wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(1) .txt-box {
    transition-delay: 0s;
  }
  #wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(2) .txt-box {
    transition-delay: 0.4s;
  }
  #wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(3) .txt-box {
    transition-delay: 0.8s;
  }
  #wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(4) .txt-box {
    transition-delay: 1.2s;
  }
  #wrap main .skill .container .title-wrap .title {
    font-size: 2rem;
  }
  #wrap main .skill .container .skill-box {
    width: 80%;
  }
  #wrap main .skill .container .skill-box .title {
    font-size: 1.4rem;
  }
  #wrap main .skill .container .skill-box .keyword li {
    font-size: 0.8rem;
  }
  #wrap main .skill .container .skill-box .word li {
    font-size: 1rem;
  }
  #wrap main .skill .container .skill-box .word li span {
    width: 6px;
    height: 6px;
  }
  #wrap main .work .container .title-wrap .title {
    font-size: 2rem;
  }
  #wrap main .work .container #work {
    width: 40%;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide {
    height: 380px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-bg {
    height: 280px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box {
    padding: 0 40px;
    opacity: 0;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb {
    width: 46%;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb img {
    width: 100%;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box {
    width: 46%;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period {
    flex-direction: column;
    align-items: flex-start;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 0;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .period {
    font-size: 0.9rem;
    font-weight: 500;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li {
    font-size: 0.84rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li img {
    width: 16px;
    height: 16px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill li {
    width: 24px;
    height: 24px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .desc {
    font-size: 0.8rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area a {
    font-size: 0.8rem;
  }
  #wrap main .work.scrolled .container #work {
    width: 100%;
  }
  #wrap main .work.scrolled .container #work .swiper-wrapper .swiper-slide .item-box {
    opacity: 1;
    transition: all 1s;
    transition-delay: 0.8s;
  }
  #wrap footer .container .footer-img-box {
    width: 100px;
  }
  #wrap footer .container .footer-img-box img {
    height: 36px;
  }
  #wrap footer .container .footer-sns {
    order: 1;
    width: 100px;
  }
  #wrap footer .container .footer-sns li a {
    width: 18px;
    height: 18px;
  }
  #wrap footer .container .copy {
    width: auto;
  }
}
/* html <= 375px */
@media (max-width: 375px) {
  #wrap {
    /* header */
    /* main */
    /* footer */
  }
  #wrap header .container {
    justify-content: center;
  }
  #wrap header .container ul.gnb {
    display: none;
  }
  #wrap header .container .logo-area {
    margin-right: 0;
  }
  #wrap main {
    /* intro */
    /* about */
    /* hobby */
    /* skill */
    /* work */
  }
  #wrap main .intro video {
    height: 100%;
  }
  #wrap main .intro .profile .title-wrap .title {
    font-size: 1.6rem;
  }
  #wrap main .intro .profile .comment {
    font-size: 1rem;
    font-weight: 500;
  }
  #wrap main .intro .profile .img-wrap a img {
    width: 180px;
    height: 180px;
  }
  #wrap main .about .container .title-wrap .title {
    font-size: 1.4rem;
  }
  #wrap main .about .container .about-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrap main .about .container .about-box .sik-comment {
    width: 100%;
    margin-bottom: 60px;
  }
  #wrap main .about .container .about-box .sik-comment img {
    width: 48px;
    top: 20px;
    left: -10px;
  }
  #wrap main .about .container .about-box .sik-comment p {
    font-size: 0.9rem;
  }
  #wrap main .about .container .about-box .sik-info {
    margin-bottom: 60px;
  }
  #wrap main .about .container .about-box .sik-info .about-img {
    width: 100%;
    height: 240px;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .user-box .name {
    font-size: 1rem;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .user-box .birth {
    font-size: 1rem;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .user-box .phone {
    font-size: 1rem;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .user-box .email {
    font-size: 1rem;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .sns-box li a {
    width: 22px;
    height: 22px;
  }
  #wrap main .about .container .about-box .sik-info .about-name-sns .sns-box li:not(:first-child) {
    margin-left: 16px;
  }
  #wrap main .about .container .about-box .education-license {
    width: 100%;
  }
  #wrap main .about .container .about-box .education-license .education ul li .day,
#wrap main .about .container .about-box .education-license .license ul li .day {
    font-size: 0.8rem;
  }
  #wrap main .about .container .about-box .education-license .education ul li .name,
#wrap main .about .container .about-box .education-license .license ul li .name {
    font-size: 1.1rem;
  }
  #wrap main .about .container .about-box .education-license .education ul li .name span,
#wrap main .about .container .about-box .education-license .license ul li .name span {
    font-size: 0.8rem;
  }
  #wrap main .hobby .container .title-wrap .title {
    font-size: 1.4rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li {
    height: 187px;
    width: 100%;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .img-box img {
    width: 200px;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box {
    width: 260px;
    top: auto;
    bottom: -60px;
    left: auto;
    right: auto;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box .num {
    font-size: 1.4rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li .txt-box .txt {
    font-size: 0.8rem;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:nth-child(even) .txt-box {
    top: auto;
    bottom: -60px;
    left: auto;
    right: auto;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
  #wrap main .hobby .container .hobby-box .char-wrap li:nth-child(4) {
    margin-bottom: 0;
  }
  #wrap main .hobby .container .hobby-box .bg-wrap {
    flex-direction: column;
    top: 100px;
  }
  #wrap main .hobby .container .hobby-box .bg-wrap .circle {
    width: 200px;
    height: 200px;
  }
  #wrap main .hobby .container .hobby-box .bg-wrap .circle:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
  #wrap main .skill .container .title-wrap .title {
    font-size: 1.4rem;
  }
  #wrap main .skill .container .skill-box {
    width: 80%;
  }
  #wrap main .skill .container .skill-box .title {
    font-size: 1.1rem;
  }
  #wrap main .skill .container .skill-box .keyword {
    flex-wrap: wrap;
  }
  #wrap main .skill .container .skill-box .keyword li {
    font-size: 0.6rem;
    margin: 2px 2px;
  }
  #wrap main .skill .container .skill-box .word li {
    font-size: 0.9rem;
  }
  #wrap main .skill .container .skill-box .word li span {
    width: 4px;
    height: 4px;
  }
  #wrap main .work .container .title-wrap .title {
    font-size: 1.4rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide {
    width: 100%;
    height: auto;
    background: #e7eef7;
    padding: 20px 20px;
    border-radius: 18px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-bg {
    display: none;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box {
    flex-direction: column;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb img {
    width: 100%;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box {
    width: 100%;
    align-items: center;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period {
    align-items: center;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .title {
    font-size: 1.2rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .period {
    font-size: 0.9rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li {
    font-size: 0.69rem;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li img {
    width: 14px;
    height: 14px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill li {
    width: 22px;
    height: 22px;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .desc {
    font-size: 0.8rem;
    text-align: center;
  }
  #wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area a {
    font-size: 0.6rem;
    padding: 8px 14px;
  }
  #wrap footer .container .footer-img-box {
    width: 100px;
    display: none;
  }
  #wrap footer .container .footer-img-box img {
    height: 32px;
  }
  #wrap footer .container .footer-sns {
    order: 1;
    width: auto;
  }
  #wrap footer .container .footer-sns li a {
    width: 18px;
    height: 18px;
  }
  #wrap footer .container .copy {
    width: auto;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
/* html >= 375px */