@charset "UTF-8";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 1440px;
  padding: 0 20px;
}

.title-wrap .bar {
  width: 50%;
  height: 8px;
  background: #3fa9e8;
  -webkit-animation: line 2s alternate infinite ease-in-out;
          animation: line 2s alternate infinite ease-in-out;
}
.title-wrap .title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.025em;
}

/* css 변수 */
body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #3fa9e8; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

#wrap {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  position: relative;
  /* notice */
  /* header */
  /* main */
}
#wrap .notice {
  opacity: 0;
  position: fixed;
  z-index: 999;
  color: #bcbcbc;
  right: 0px;
  bottom: 0px;
  color: #1a1a1c;
  font-size: 18px;
  font-family: "SUIT-Regular";
  letter-spacing: -0.03em;
  font-weight: 700;
  -webkit-animation: notice 3s alternate 2 ease-in-out;
          animation: notice 3s alternate 2 ease-in-out;
  pointer-events: none;
  display: none;
}
#wrap .notice img {
  width: 400px;
}
#wrap header {
  background: rgba(28, 56, 102, 0.9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#wrap header .container {
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* 
  .hamburger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // border: 1px solid orange;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    span {
      display: block;
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 500px;
      transition: all 0.4s;
    }
  }
  .hamburger:hover {
    span {
      position: absolute;
    }
    span:first-child {
      transform: rotate(-40deg);
    }
    span:last-child {
      transform: rotate(40deg);
      margin-top: 0;
    }
  }
   */
}
#wrap header .container .logo-area {
  margin-right: 40px;
}
#wrap header .container .logo-area a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap header .container .logo-area a .header-logo {
  height: 54px;
}
#wrap header .container ul.gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap header .container ul.gnb li a {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #a8a8a8;
  transition: all 0.4s;
}
#wrap header .container ul.gnb li a:hover {
  color: #fff;
}
#wrap header .container ul.gnb li:not(:last-child) {
  margin-right: 40px;
}
#wrap main {
  width: 100%;
  /* intro */
  /* about */
  /* hobby */
  /* skill */
  /* work */
  /* contact */
}
#wrap main .intro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#wrap main .intro video {
  height: 120%;
}
#wrap main .intro .profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
#wrap main .intro .profile .title-wrap .title {
  font-weight: 500;
  font-size: 40px;
}
#wrap main .intro .profile .comment {
  font-family: "SUIT-Regular";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 10px 0 30px 0;
}
#wrap main .intro .profile .comment::after {
  content: "";
  margin-left: 0.4rem;
  border-right: 4px solid #fff;
  -webkit-animation: cursor 0.9s infinite steps(2);
          animation: cursor 0.9s infinite steps(2);
}
#wrap main .intro .profile .img-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 400px;
  overflow: hidden;
}
#wrap main .intro .profile .img-wrap a img {
  height: 100%;
  transition: all 0.4s;
}
#wrap main .about {
  padding-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* title */
  /* about box */
}
#wrap main .about .container .title-wrap {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(80px);
}
#wrap main .about .container .title-wrap .title {
  color: #1a1a1c;
  font-weight: 700;
  font-size: 42px;
}
#wrap main .about .container .about-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* left */
  /* center */
  /* right */
}
#wrap main .about .container .about-box .sik-comment {
  width: 440px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px 0;
  background: #fff;
  transform: translateY(100px);
  opacity: 0;
}
#wrap main .about .container .about-box .sik-comment img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -20px;
  width: 58px;
}
#wrap main .about .container .about-box .sik-comment p {
  text-align: left;
  font-family: "SUIT-Regular";
  color: #1a1a1c;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.03%;
  line-height: 32.4px;
  z-index: 1;
}
#wrap main .about .container .about-box .sik-info {
  transform: translateY(100px);
  opacity: 0;
}
#wrap main .about .container .about-box .sik-info .about-img {
  width: 440px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}
#wrap main .about .container .about-box .sik-info .about-img img {
  width: 100%;
}
#wrap main .about .container .about-box .sik-info .about-img .remove-img {
  position: absolute;
  -webkit-animation: heart 1s alternate infinite ease-in-out;
          animation: heart 1s alternate infinite ease-in-out;
}
#wrap main .about .container .about-box .sik-info .about-name-sns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .user-box {
  display: flex;
  flex-direction: column;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .user-box .name {
  font-family: "SUIT-Regular";
  color: #3fa9e8;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .user-box .birth {
  font-family: "Montserrat", sans-serif;
  color: #1a1a1c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .user-box .phone {
  color: #1a1a1c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .user-box .email {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .sns-box {
  display: flex;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .sns-box li a {
  display: block;
  width: 28px;
  height: 28px;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .sns-box li a img {
  width: 100%;
}
#wrap main .about .container .about-box .sik-info .about-name-sns .sns-box li:not(:first-child) {
  margin-left: 10px;
}
#wrap main .about .container .about-box .education-license {
  padding: 20px;
  width: 440px;
  height: 477px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(100px);
  opacity: 0;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap span {
  font-family: "Montserrat", sans-serif;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap span.education-toggle-txt {
  color: #3fa9e8;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap .toggle-wrap {
  margin: 0 10px;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-radius: 500px;
  background: #bcbcbc;
  width: 80px;
  height: 38px;
  display: flex;
  align-items: center;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap .toggle-wrap .toggle-switch {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 500px;
  position: absolute;
  left: 4px;
  transition: all 0.4s ease-in-out;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap .toggle-wrap.active {
  background: #3fa9e8;
}
#wrap main .about .container .about-box .education-license .toggle-text-wrap .toggle-wrap.active .toggle-switch {
  left: 46px;
}
#wrap main .about .container .about-box .education-license .education ul li .day,
#wrap main .about .container .about-box .education-license .license ul li .day {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1c;
  margin-bottom: 4px;
  letter-spacing: -0.025em;
}
#wrap main .about .container .about-box .education-license .education ul li .name,
#wrap main .about .container .about-box .education-license .license ul li .name {
  font-family: "SUIT-Regular";
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1c;
}
#wrap main .about .container .about-box .education-license .education ul li .name span,
#wrap main .about .container .about-box .education-license .license ul li .name span {
  font-family: "SUIT-Regular";
  font-size: 18px;
  font-weight: 500;
  color: #bcbcbc;
}
#wrap main .about .container .about-box .education-license .education ul li:not(:last-child),
#wrap main .about .container .about-box .education-license .license ul li:not(:last-child) {
  margin-bottom: 20px;
}
#wrap main .about .container .about-box .education-license .license {
  display: none;
}
#wrap main .about.scrolled .container .title-wrap {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}
#wrap main .about.scrolled .container .about-box .sik-comment {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}
#wrap main .about.scrolled .container .about-box .sik-info {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
  transition-delay: 0.4s;
}
#wrap main .about.scrolled .container .about-box .education-license {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
  transition-delay: 0.8s;
}
#wrap main .hobby {
  padding: 160px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .hobby .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap main .hobby .container .title-wrap {
  margin-bottom: 180px;
  opacity: 0;
  transform: translateY(80px);
}
#wrap main .hobby .container .title-wrap .title {
  color: #1a1a1c;
  font-weight: 700;
  font-size: 42px;
}
#wrap main .hobby .container .hobby-box {
  width: 100%;
}
#wrap main .hobby .container .hobby-box .char-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#wrap main .hobby .container .hobby-box .char-wrap li {
  height: 270px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#wrap main .hobby .container .hobby-box .char-wrap li .img-box {
  -webkit-animation: char 3s alternate infinite ease-in-out;
          animation: char 3s alternate infinite ease-in-out;
}
#wrap main .hobby .container .hobby-box .char-wrap li .img-box img {
  width: 280px;
  pointer-events: none;
}
#wrap main .hobby .container .hobby-box .char-wrap li .txt-box {
  position: absolute;
  bottom: -120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 110%;
  transform: translateX(-300px);
  opacity: 0;
}
#wrap main .hobby .container .hobby-box .char-wrap li .txt-box .num {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #1a1a1c;
}
#wrap main .hobby .container .hobby-box .char-wrap li .txt-box .txt {
  font-family: "SUIT-Regular";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #1a1a1c;
}
#wrap main .hobby .container .hobby-box .char-wrap li:nth-child(even) .txt-box {
  bottom: auto;
  top: -120px;
  transform: translateX(300px);
}
#wrap main .hobby .container .hobby-box .char-wrap li:not(:last-child) {
  margin-right: 40px;
}
#wrap main .hobby .container .hobby-box .char-wrap li:nth-child(4) {
  margin-right: 0;
}
#wrap main .hobby .container .hobby-box .bg-wrap {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .hobby .container .hobby-box .bg-wrap .circle {
  width: 240px;
  height: 240px;
  background: #3fa9e8;
  border-radius: 500px;
}
#wrap main .hobby .container .hobby-box .bg-wrap .circle:not(:last-child) {
  margin-right: 120px;
}
#wrap main .hobby.scrolled .container .title-wrap {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}
#wrap main .hobby.scrolled .container .hobby-box .char-wrap li .txt-box {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.8s ease-in-out;
}
#wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(4) .txt-box {
  transition-delay: 0.4s;
}
#wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(1) .txt-box {
  transition-delay: 0.8s;
}
#wrap main .hobby.scrolled .container .hobby-box .char-wrap li:nth-child(3) .txt-box {
  transition-delay: 1.2s;
}
#wrap main .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}
#wrap main .skill .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap main .skill .container .title-wrap {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(80px);
}
#wrap main .skill .container .title-wrap .title {
  color: #1a1a1c;
  font-weight: 700;
  font-size: 42px;
}
#wrap main .skill .container .skill-box {
  width: 770px;
}
#wrap main .skill .container .skill-box .title {
  font-family: "Montserrat", sans-serif;
  color: #1a1a1c;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
#wrap main .skill .container .skill-box .skill-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .skill .container .skill-box .skill-icons li {
  width: 38px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap main .skill .container .skill-box .skill-icons li img {
  width: 100%;
}
#wrap main .skill .container .skill-box .skill-icons li .progress {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
#wrap main .skill .container .skill-box .skill-icons li:not(:last-child) {
  margin-right: 20px;
}
#wrap main .skill .container .skill-box .keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#wrap main .skill .container .skill-box .keyword li {
  font-family: "Montserrat", sans-serif;
  color: #1a1a1c;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #bcbcbc;
  border-radius: 100px;
  transition: all 0.4s;
  cursor: pointer;
}
#wrap main .skill .container .skill-box .keyword li:hover {
  background: #bcbcbc;
  color: #fff;
}
#wrap main .skill .container .skill-box .keyword li:not(:last-child) {
  margin-right: 20px;
}
#wrap main .skill .container .skill-box .word {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#wrap main .skill .container .skill-box .word li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SUIT-Regular";
  font-size: 18px;
  color: #1a1a1c;
  letter-spacing: -0.03em;
}
#wrap main .skill .container .skill-box .word li span {
  display: block;
  width: 8px;
  height: 8px;
  background: #3fa9e8;
  border-radius: 200px;
  margin-right: 10px;
}
#wrap main .skill .container .skill-box .word li:not(:last-child) {
  margin-bottom: 20px;
}
#wrap main .skill .container .skill-box:nth-child(2) {
  margin-bottom: 40px;
}
#wrap main .skill.scrolled .container .title-wrap {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}
#wrap main .work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}
#wrap main .work .container {
  text-align: center;
}
#wrap main .work .container .title-wrap {
  display: inline-block;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(80px);
}
#wrap main .work .container .title-wrap .title {
  color: #1a1a1c;
  font-weight: 700;
  font-size: 42px;
}
#wrap main .work .container #work {
  width: 50%;
  transition: all 0.4s;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 440px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 24px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-bg {
  width: 100%;
  height: 340px;
  background: #e7eef7;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb {
  display: flex;
  width: 48%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb img {
  transition: all 0.4s;
  width: 440px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box a.thumb img:hover {
  transform: scale(1.1);
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 48%;
  height: 100%;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period {
  display: flex;
  align-items: center;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .title {
  color: #1a1a1c;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -3%;
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .title-period .period {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person {
  display: flex;
  border: 1px solid #3fa9e8;
  border-radius: 300px;
  padding: 4px 10px;
  margin: 8px 0;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li {
  font-family: "SUIT-Regular";
  font-size: 16px;
  color: #1a1a1c;
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li img {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .person li:not(:last-child) {
  margin-right: 20px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill {
  display: flex;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill li {
  width: 26px;
  height: 26px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill li img {
  width: 100%;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .use-skill li:not(:last-child) {
  margin-right: 10px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .desc {
  color: #555555;
  font-family: "SUIT-Regular";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.03em;
  margin: 24px 0;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area a {
  color: #fff;
  font-size: 14px;
  font-family: "SUIT-Regular";
  font-weight: 600;
  padding: 10px 20px;
  background: #1a1a1c;
  border-radius: 300px;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area a:first-child {
  color: #1a1a1c;
  background: transparent;
  border: 1px solid #bcbcbc;
}
#wrap main .work .container #work .swiper-wrapper .swiper-slide .item-box .text-box .btn-area a:not(:last-child) {
  margin-right: 10px;
}
#wrap main .work .container #work:not(:last-child) {
  margin-bottom: 40px;
}
#wrap main .work.scrolled .container .title-wrap {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}
#wrap main .work.scrolled .container #work {
  width: 100%;
}
#wrap main .work.scrolled .container #work .swiper-wrapper .swiper-slide .item-box {
  opacity: 1;
  transition: all 2s;
  transition-delay: 0.6s;
}
#wrap main .work.scrolled .container #work .swiper-wrapper .swiper-slide .item-box a.thumb img {
  -webkit-animation: workImg 1s alternate 1 ease-in-out;
          animation: workImg 1s alternate 1 ease-in-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#wrap main .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}
#wrap main .contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* title-wrap */
  /* greeting */
  /* contact info */
  /* contact form */
}
#wrap main .contact .container .title-wrap {
  margin-bottom: 60px;
}
#wrap main .contact .container .title-wrap .title {
  color: #1a1a1c;
  font-weight: 700;
  font-size: 42px;
}
#wrap main .contact .container .greeting {
  margin-bottom: 40px;
}
#wrap main .contact .container .greeting span {
  display: block;
  font-family: "SUIT-Regular";
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.03em;
}
#wrap main .contact .container .contact-info {
  padding: 60px 80px;
  border-radius: 14px;
  background: #647BA3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#wrap main .contact .container .contact-info ul {
  display: flex;
}
#wrap main .contact .container .contact-info ul li {
  position: relative;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#wrap main .contact .container .contact-info ul li img {
  width: 40px;
  margin-bottom: 20px;
}
#wrap main .contact .container .contact-info ul li .title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #11223D;
  font-weight: 700;
  margin-bottom: 10px;
}
#wrap main .contact .container .contact-info ul li .desc {
  display: flex;
  flex-direction: column;
}
#wrap main .contact .container .contact-info ul li .desc span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-weight: 500;
}
#wrap main .contact .container .contact-info ul li .desc span:not(:first-child) {
  margin-top: 4px;
}
#wrap main .contact .container .contact-info ul li:not(:last-child) {
  margin-right: 60px;
}
#wrap main .contact .container .contact-info ul li:nth-child(2)::after {
  content: "";
  display: block;
  width: 230px;
  height: 50%;
  border-left: 3px solid #3b4c6b;
  border-right: 3px solid #3b4c6b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
#wrap main .contact .container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap main .contact .container .contact-form .int-area {
  width: 500px;
  position: relative;
  margin-top: 20px;
}
#wrap main .contact .container .contact-form .int-area input, #wrap main .contact .container .contact-form .int-area textarea {
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  outline: none;
  color: #1a1a1c;
  font-size: 14px;
  font-weight: 500;
}
#wrap main .contact .container .contact-form .int-area input {
  font-family: "Montserrat", sans-serif;
}
#wrap main .contact .container .contact-form .int-area textarea {
  font-family: "SUIT-Regular";
  resize: none;
}
#wrap main .contact .container .contact-form .int-area input:focus + label,
#wrap main .contact .container .contact-form .int-area input:valid + label,
#wrap main .contact .container .contact-form .int-area textarea:focus + label {
  top: 2px;
  font-size: 12px;
  color: #3fa9e8;
}
#wrap main .contact .container .contact-form .int-area label {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 14px;
  color: #bcbcbc;
  transition: all 0.4s ease;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.03em;
}
#wrap main .contact .container .contact-form .int-area .kr {
  font-family: "SUIT-Regular";
}
#wrap main .contact .container .contact-form .int-area:first-child {
  margin-top: 0;
}
#wrap main .contact .container .contact-form .btn-area {
  margin-top: 30px;
}
#wrap main .contact .container .contact-form .btn-area button {
  background: #3fa9e8;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}
#wrap footer {
  margin-top: 60px;
  width: 100%;
  height: 60px;
  background: #242f3f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap footer .container .footer-img-box {
  width: 240px;
}
#wrap footer .container .footer-img-box img {
  height: 40px;
}
#wrap footer .container .footer-sns {
  display: flex;
}
#wrap footer .container .footer-sns li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
#wrap footer .container .footer-sns li a img {
  width: 100%;
}
#wrap footer .container .footer-sns li:not(:last-child) {
  margin-right: 20px;
}
#wrap footer .container .copy {
  width: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.03em;
}

@-webkit-keyframes cursor {
  from {
    border-right: 4px solid transparent;
  }
  to {
    border-right: 4px solid #fff;
  }
}

@keyframes cursor {
  from {
    border-right: 4px solid transparent;
  }
  to {
    border-right: 4px solid #fff;
  }
}
@-webkit-keyframes line {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes line {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes char {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(-45px) rotate(-15deg);
  }
  100% {
    transform: translateX(45px) rotate(15deg);
  }
}
@keyframes char {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(-45px) rotate(-15deg);
  }
  100% {
    transform: translateX(45px) rotate(15deg);
  }
}
@-webkit-keyframes workImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes workImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes notice {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes notice {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}