@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/* init css */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* scrollbar hidden */
body {
  -ms-overflow-style: none;
}

/* **************** */
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.container {
  width: 1440px;
  padding: 0 20px;
}

/* wrap */
.wrap {
  width: 100%;
  height: auto;
  /**** HEADER ****/
  /**** INTRO ****/
  /**** ABOUT ****/
  /**** EXPERIECE  ****/
  /* WORKS */
}

.wrap header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* container */
}

.wrap header .container {
  padding: 0 20px;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* header-left */
  /* header-right */
}

.wrap header .container .header-left img {
  width: 140px;
  padding: 20px 0;
}

.wrap header .container .header-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap header .container .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap header .container .header-right ul li:not(:first-child) {
  margin-left: 40px;
}

.wrap header .container .header-right ul li a {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.wrap header .container .header-right ul li a:hover {
  font-size: 28px;
}

.wrap header .container .header-right .category-icon {
  display: none;
  height: 20px;
}

.wrap .intro {
  width: 100%;
  height: 969px;
  background: url("./img/toystoryx2.png") no-repeat center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .intro .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* profile */
  /* mouse area */
}

.wrap .intro .container .profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 374px;
  height: 473px;
  border-radius: 30px;
  background: rgba(226, 223, 216, 0.8);
  -webkit-transition: -webkit-box-shadow .6s;
  transition: -webkit-box-shadow .6s;
  transition: box-shadow .6s;
  transition: box-shadow .6s, -webkit-box-shadow .6s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  /* profile img */
  /* profile txt */
  /* profile links */
  /* profile btn */
}

.wrap .intro .container .profile-wrap .profile-img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.wrap .intro .container .profile-wrap .profile-img img {
  height: 110%;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.wrap .intro .container .profile-wrap .profile-txt {
  color: #2a2a2a;
}

.wrap .intro .container .profile-wrap .profile-txt h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.wrap .intro .container .profile-wrap .profile-txt p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.wrap .intro .container .profile-wrap .profile-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 40px 0;
  /* instagram */
  /* facebook */
  /* naver */
  /* github */
}

.wrap .intro .container .profile-wrap .profile-links ul li {
  /* null */
}

.wrap .intro .container .profile-wrap .profile-links ul li:not(:last-child) {
  margin-right: 20px;
}

.wrap .intro .container .profile-wrap .profile-links ul a {
  -webkit-transition: background .4s;
  transition: background .4s;
  display: block;
  width: 44px;
  height: 44px;
  font-size: 0;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(1) a {
  background: url("./img/insta-icon.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(1) a:hover {
  background: url("./img/insta-icon-hover.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(2) a {
  background: url("./img/facebook-icon.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(2) a:hover {
  background: url("./img/facebook-icon-hover.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(3) a {
  background: url("./img/naver-icon.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(3) a:hover {
  background: url("./img/naver-icon-hover.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(4) a {
  background: url("./img/github-icon.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-links ul li:nth-child(4) a:hover {
  background: url("./img/github-icon-hover.png") no-repeat;
  background-position: center;
}

.wrap .intro .container .profile-wrap .profile-btn {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #25744D;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.wrap .intro .container .profile-wrap .profile-btn:hover {
  background: #72c29a;
}

.wrap .intro .container .profile-wrap:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.wrap .intro .container .profile-wrap:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrap .intro .container .mouse-area {
  padding: 10px;
  position: absolute;
  bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .intro .container .mouse-area span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #2A2A2A;
}

.wrap .intro .container .mouse-area .mouse-icon {
  opacity: 0.1;
  height: 32px;
  position: relative;
  -webkit-animation: mousedrop .8s infinite alternate;
          animation: mousedrop .8s infinite alternate;
}

.wrap .about {
  width: 100%;
  background: #CEC9BC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 160px;
  /**** container ****/
}

.wrap .about .container {
  padding: 0 20px;
  width: 1440px;
  /**** about title ****/
  /**** about profile wrap ****/
  /* about favorite wrap */
}

.wrap .about .container .about-title {
  text-align: left;
}

.wrap .about .container .about-title h2 {
  display: inline;
  position: relative;
}

.wrap .about .container .about-title h2 span {
  font-size: 36px;
  font-weight: bold;
  color: #2a2a2a;
  position: relative;
  z-index: 2;
}

.wrap .about .container .about-title h2 .title-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 12px;
  right: -24px;
}

.wrap .about .container .about-profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  /* about txt and skill wrap */
}

.wrap .about .container .about-profile-wrap .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  overflow: hidden;
  /* img hover */
}

.wrap .about .container .about-profile-wrap .about-img img {
  width: 110%;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.wrap .about .container .about-profile-wrap .about-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 50px;
  width: 1095px;
  height: 400px;
  padding: 40px 40px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 100%;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt p {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt .about-github-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: #D6B937;
  color: #2A2A2A;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background .4s;
  transition: background .4s;
  cursor: pointer;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt .about-github-btn span {
  font-size: 13px;
  font-weight: 500;
  color: #747474;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt .about-github-btn:hover {
  background: #f4de7b;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 100%;
  /* development */
  /* ui/ux design */
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development h3 {
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
  text-align: left;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skill-bar {
  width: 100%;
  height: 41px;
  border-radius: 30px;
  background: #F2F2F2;
  position: relative;
  margin: 10px 0 20px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skill-bar .bar {
  width: 80%;
  height: 100%;
  background: #FF9393;
  border-radius: 30px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skill-bar .rate {
  position: absolute;
  top: -34px;
  right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #2A2A2A;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skills img {
  width: 48px;
  height: 48px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design h3 {
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
  text-align: left;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skill-bar {
  width: 100%;
  height: 41px;
  border-radius: 30px;
  background: #F2F2F2;
  position: relative;
  margin: 10px 0 20px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skill-bar .bar {
  width: 74%;
  height: 100%;
  background: #FFF59D;
  border-radius: 30px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skill-bar .rate {
  position: absolute;
  top: -34px;
  right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #2A2A2A;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skills img {
  height: 48px;
}

.wrap .about .container .about-profile-wrap .about-txt-skill-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -16px;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: #fff;
}

.wrap .about .container .about-favorite-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrap .about .container .about-favorite-wrap .favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .about .container .about-favorite-wrap .favorite img {
  margin-right: 20px;
}

.wrap .about .container .about-favorite-wrap .favorite .favorite-txt h2 {
  font-size: 36px;
  font-weight: bold;
  color: #2a2a2a;
}

.wrap .about .container .about-favorite-wrap .favorite .favorite-txt p {
  font-size: 14px;
  font-weight: 500;
  color: #2a2a2a;
}

.wrap .experience {
  background: #CEC9BC;
  width: 100%;
  height: auto;
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* container */
}

.wrap .experience .container {
  /* title */
  /* experience-wrap */
}

.wrap .experience .container .experience-title {
  text-align: left;
  margin-bottom: 50px;
}

.wrap .experience .container .experience-title h2 {
  display: inline;
  position: relative;
}

.wrap .experience .container .experience-title h2 span {
  font-size: 36px;
  font-weight: bold;
  color: #2a2a2a;
  position: relative;
  z-index: 2;
}

.wrap .experience .container .experience-title h2 .title-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 12px;
  right: -24px;
}

.wrap .experience .container .experience-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* left-school's */
  /* right-license's */
}

.wrap .experience .container .experience-wrap .experience-school-wrap:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.wrap .experience .container .experience-wrap .experience-school-wrap {
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #fff;
  -webkit-box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 16px;
  margin-right: 20px;
  width: 50%;
  padding: 40px;
  /* contents */
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents:not(:last-child) {
  margin-bottom: 40px;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents {
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* icon */
  /* txt wrap */
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .icon img {
  width: 48px;
  height: 48px;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .icon::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -110px;
  width: 6px;
  height: 80px;
  border-radius: 4px;
  background: #2A2A2A;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap {
  /* date */
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap .date {
  color: #747474;
  font-size: 16px;
  font-weight: 500;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap .name {
  margin: 5px 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap .name span {
  color: #747474;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap .name span .info {
  font-size: 16px;
  font-weight: 600;
  color: #a1a1a1;
}

.wrap .experience .container .experience-wrap .experience-school-wrap .contents .txt-wrap .desc {
  font-weight: 500;
  font-size: 16px;
  color: #2A2A2A;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.wrap .experience .container .experience-wrap .experience-license-wrap:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.wrap .experience .container .experience-wrap .experience-license-wrap {
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #fff;
  -webkit-box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 16px;
  margin-left: 20px;
  width: 50%;
  padding: 40px;
  /* contents */
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents:not(:last-child) {
  margin-bottom: 50px;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* icon */
  /* txt wrap */
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .icon img {
  width: 48px;
  height: 48px;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .icon::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -60px;
  width: 6px;
  height: 50px;
  border-radius: 4px;
  background: #2A2A2A;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .txt-wrap {
  /* date */
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .txt-wrap .date {
  color: #747474;
  font-size: 16px;
  font-weight: 500;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .txt-wrap .name {
  margin: 5px 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .txt-wrap .name span {
  color: #747474;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.wrap .experience .container .experience-wrap .experience-license-wrap .contents .txt-wrap .name span .info {
  font-size: 16px;
  font-weight: 600;
  color: #a1a1a1;
}

.wrap .works {
  background: #CEC9BC;
  width: 100%;
  height: auto;
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .works .container .works-title {
  margin-bottom: 50px;
  text-align: left;
}

.wrap .works .container .works-title h2 {
  display: inline;
  position: relative;
}

.wrap .works .container .works-title h2 span {
  font-size: 36px;
  font-weight: bold;
  color: #2a2a2a;
  position: relative;
  z-index: 2;
}

.wrap .works .container .works-title h2 .title-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 12px;
  right: -24px;
}

.wrap .works .container .works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .works .container .works-wrap .works-item:hover .works-desc {
  opacity: 1;
}

.wrap .works .container .works-wrap .works-item.is {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.wrap .works .container .works-wrap .works-item {
  width: 466px;
  height: 466px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.wrap .works .container .works-wrap .works-item .img-big {
  width: 100%;
  height: 100%;
}

.wrap .works .container .works-wrap .works-item .works-desc a:hover {
  color: #fff;
}

.wrap .works .container .works-wrap .works-item .works-desc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.wrap .works .container .works-wrap .works-item .works-desc a {
  -webkit-transition: color .4s;
  transition: color .4s;
}

/* animation */
@-webkit-keyframes mousedrop {
  0% {
    top: 0px;
    opacity: 0.1;
  }
  100% {
    top: 20px;
    opacity: 1;
  }
}
@keyframes mousedrop {
  0% {
    top: 0px;
    opacity: 0.1;
  }
  100% {
    top: 20px;
    opacity: 1;
  }
}

/* media query */
@media (max-width: 768px) {
  .wrap {
    /* HEADER */
    /* INTRO */
    /* ABOUT */
    /* EXPERIENCE */
  }
  .wrap header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .wrap header .container .header-left a img {
    width: 70px;
  }
  .wrap header .container .header-right ul {
    display: none;
  }
  .wrap header .container .header-right .category-icon {
    display: block;
    cursor: pointer;
  }
  .wrap .intro .container .profile-wrap {
    width: 335px;
  }
  .wrap .about .container {
    width: 100%;
    /* title */
    /* about profile wrap */
    /* about favorite wrap */
  }
  .wrap .about .container .about-title {
    text-align: center;
  }
  .wrap .about .container .about-profile-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* img */
    /* about txt skill wrap */
  }
  .wrap .about .container .about-profile-wrap .about-img {
    margin-bottom: 40px;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap {
    width: 100%;
    padding: 40px 40px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* text */
    /* skill */
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-txt .about-github-btn {
    width: 100%;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill {
    width: 100%;
    height: auto;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development {
    margin-bottom: 30px;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skill-bar {
    margin: 10px 0;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .development .skills {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skill-bar {
    margin: 10px 0;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap .about-skill .design .skills {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap .about .container .about-profile-wrap .about-txt-skill-wrap::after {
    top: -14px;
    left: auto;
  }
  .wrap .about .container .about-favorite-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap .about .container .about-favorite-wrap .favorite {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrap .about .container .about-favorite-wrap .favorite img {
    margin-right: 10px;
  }
  .wrap .about .container .about-favorite-wrap .favorite .favorite-txt h2 {
    font-size: 24px;
  }
  .wrap .about .container .about-favorite-wrap .favorite:not(:last-child) {
    margin-bottom: 30px;
  }
  .wrap .experience .container {
    width: 100%;
  }
  .wrap .experience .container .experience-title {
    text-align: center;
  }
  .wrap .experience .container .experience-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .experience .container .experience-wrap .experience-school-wrap {
    width: 100%;
    margin: 0 0 40px 0;
    padding: 40px 20px;
  }
  .wrap .experience .container .experience-wrap .experience-school-wrap .contents .icon::after {
    bottom: -180px;
    height: 140px;
  }
  .wrap .experience .container .experience-wrap .experience-license-wrap {
    width: 100%;
    margin: 0;
    padding: 40px 20px;
  }
  .wrap .experience .container .experience-wrap .experience-license-wrap .contents .icon::after {
    bottom: -55px;
    height: 40px;
  }
  .wrap .works .container {
    width: 100%;
  }
  .wrap .works .container .works-title {
    text-align: center;
  }
  .wrap .works .container .works-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */